.container{
    padding: 40px;
}

ol{
    background-color: rgb(230, 230, 230);
}

li{
    font-size: 20px;
    padding: 10px 10px 5px 10px ;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
}

span{
    float: right; 
}