.link {
  text-decoration: none;
  color: blue;
  margin-left: -5px;
}

.darkLink {
  color: rgb(190, 190, 190);
  padding: 10px;
}

.about {
  font-size: 20px;
  padding: 50px;
  margin-bottom: -90px;
  margin-top: -20px;
}
