.main {
  text-align: center;
}

input {
  cursor: url("../../../Assets/pen.png") 0 50, auto;
}

input::placeholder {
  color: rgb(116, 115, 115);
}

input:hover{
  border: none;
  background-color: rgb(218, 216, 216);
}


button{
  width: 500px;
  height: 30px;
  background-color: rgb(195, 195, 248);
  border-radius: 5px;
  border: 1px solid black;
  cursor: url("../../../Assets/cursor.gif") 0 50, auto;
  font-size: 17px;
}

button:hover{
  background-color: rgb(166, 166, 248);
}