html, body{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	background-color: rgb(226, 222, 222);
}

.darkMode{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	background-color: rgb(116, 110, 110);
	color:rgb(190, 190, 190);
}



/* dark mode text color: rgb(190, 190, 190)       */