html, body{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	background-color: rgb(226, 222, 222);
}

.darkMode{
	background-color: rgb(90, 90, 90);
	color:rgb(190, 190, 190);
}
