@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&display=swap');

.theme {
  padding: 20px;
  text-align: center;
  font-size: 35px;
  margin-top: -50px;
  margin-bottom: 10px;
  font-family: 'Beth Ellen', cursive;;
}
